[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.isort]
balanced_wrapping = true
default_section = "THIRDPARTY"
force_grid_wrap = 0
include_trailing_comma = true
known_first_party = "cz_legacy"
length_sort = false
line_length = 120
multi_line_output = 5

[tool.commitizen]
name = "cz_conventional_commits"
version = "0.1.3"
version_files = ["pyproject.toml", "cz_legacy/__init__.py", "appveyor.yml"]

[tool.poetry]
name = "cz_legacy"
version = "0.1.3"
description = "Extends Conventional Commits Change Types with User-Defined Legacy Types for Commitizen"
license = "MIT"
authors = ["Kyle King <dev.act.kyle@gmail.com>"]
maintainers = []
repository = "https://github.com/kyleking/cz_legacy"
documentation = "https://github.com/kyleking/cz_legacy/docs"
readme = "docs/README.md"
include = ["LICENSE.md"]
keywords = ["commitizen", "conventional commits", "git"]
classifiers = [
    "Intended Audience :: Developers",
    "Operating System :: OS Independent",
    "License :: OSI Approved :: MIT License",
    "Programming Language :: Python :: 3.6",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: Implementation :: CPython",
] # https://pypi.org/classifiers/

[tool.poetry.urls]
"Bug Tracker" = "https://github.com/kyleking/cz_legacy/issues"

[tool.poetry.dependencies]
python = "^3.6.1"
commitizen = ">=2"

[tool.poetry.dev-dependencies]
calcipy = { version="^0.8.2", extras=["dev", "lint", "test"], python=">=3.8,<4.0.0" }
